.input-group-addon{
	border:none;
	background-color:transparent;
}
.form-control{
	border:none;
	broder-color:#32bd60;
}
.form-control:focus{
	
	    box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(50, 189, 96, 0.6);
}
.x-panel-content>.list-group-item{
	border:none;
	}
.spacing{
	margin-bottom:10px;
}
.x-toggle{
	margin-top:-8px;
}

.btn-green{
	background:#32bd60; color:#fff;box-shadow:0; border:none; box-sizing:none;
}